Language:   Cpp
BasedOnStyle: Microsoft 

AlignConsecutiveAssignments:    true
AlignConsecutiveDeclarations:   true

AllowShortFunctionsOnASingleLine:   Empty 
AllowShortIfStatementsOnASingleLine:    true

BreakConstructorInitializersBeforeComma:	true
BreakConstructorInitializers: BeforeColon